[submodule "third-party/drogon"]
	path = third-party/drogon
	url = https://github.com/an-tao/drogon.git
[submodule "third-party/restbed"]
	path = third-party/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/mongo"]
	path = third-party/mongo
	url = https://github.com/mongodb/mongo-cxx-driver
[submodule "third-party/mongoc"]
	path = third-party/mongoc
	url = https://github.com/mongodb/mongo-c-driver
[submodule "third-party/tbb"]
	path = third-party/tbb
	url = https://github.com/intel/tbb.git
